<app-navbar></app-navbar>

<h1 class="text-center fw-bold text-white">History Page</h1>

<div class="container mt-5 pt-1 bg-black table">
    <table class="text-center text-white mx-auto w-100 table">
        <thead>
            <th>Date</th>
            <th>Link</th>
            <th>Detection type</th>
            <th>Status</th>
            <th>Options</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of vidHistory;">

                <td>{{data.date}}</td>
                <td><a href="" class="text-white fw-bold linkvid">{{data.link}}</a></td>
                <td class="fw-bold">{{data.type}}</td>
                <td class="fw-bold">{{data.status}}</td>
                <td class="fw-bold"><button class="btn btn-danger">Delete</button></td>
                
            </tr>
        </tbody>
    </table>
</div>