<nav
  class="d-flex fixed-top justify-content-between align-items-center p-2 bg-dark opacity-60"
>


  <!--Logo and List on left-->
  <div>
    <h3 class="mb-0"><a class="colr bold fw-bold" href="#">IVSS</a></h3>

  </div>
  <div *ngIf="isLogedIn;">

    <h5 class="mb-0"><a class="colr bold fw-bold" href="#">Hello, {{userName}}</a></h5>
    </div>
  <div class="d-flex mx-3"*ngIf="isLogedIn">

    <ul
      class="list-unstyled align-items-center ms-4 mb-0 d-flex justify-content-around "
    >
      <li>
        <a routerLink="/home" routerLinkActive="myactive" class="mx-2 colr"
          >Home</a
        >
        <!--*ngIf="isLogin"-->
      </li>
      <li>
        <a routerLink="/view" routerLinkActive="myactive" class="mx-2 colr"
          >View</a
        >
        <!--*ngIf="isLogin"-->
      </li>
      <li>
        <a routerLink="/history" routerLinkActive="myactive" class="mx-2 colr"
          >History</a
        >
        <!--*ngIf="isLogin"-->
      </li>
    </ul>
  </div>

  <!--Social media and list on right-->
  <div class="d-flex mx-3">
    <div class="social media colr">
      <a
        class="colr mx-2"
        href="http://127.0.0.1:8080/index.html"
        >
         Docs<i class="fa-duotone fa-books"></i>
      </a>
      <a
        class="colr mx-2"
        href="https://github.com/Mustafaallam20/Intelligent-Video-Surveillance-System-IVSS"
        >
         <i class="fab mx-2 fa-github"></i>
      </a>


      <!-- <i class="fab mx-2 fa-duontown fa-file"></i> -->
    </div>

    <ul class="list-unstyled mb-0 d-flex justify-content-around">
      <!-- <li class="nav-item dropdown">
        <a class="nav-link p-0 dropdown-toggle" routerLink="/settings" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Settings
        </a>
        <ul class="dropdown-menu bg-dark">
          <li><a class="dropdown-item" routerLink="settings/password">Password</a></li>
          <li><a class="dropdown-item" routerLink="settings/log">Log</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
        </ul>
      </li> -->
      <li class="mx-2">
        <div *ngIf="isLogedIn; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
         <a class="colr" (click)="logOut()" routerLink="/">Log Out</a>
        </ng-template>
        <ng-template #elseBlock>


        </ng-template>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav class="d-flex p-2 align-items-center " >
  <h3 class="mb-0"><a href = "#">IVSS</a></h3>

  <ul class="list-unstyled mb-0 bg-danger d-flex justify-content-around">

    <li>
      <a routerLink="/home">Home</a>
    </li>

    <li>
      <a routerLink="/history ">Home</a>
    </li>

    <li>
      <a routerLink="/view">Home</a>
    </li>

    <li>
      <a routerLink="/login">Home</a>
    </li>
  </ul>
<div class="social-media">
  <i class="fab fa-github mx-2"></i>


</div>
  <ul class="list-unstyled mb-0 bg-danger d-flex justify-content-around">

    <li>
      <a routerLink="/home">Login</a>
    </li>

    <li>
      <a routerLink="/history ">Signup</a>
    </li>

    <li>
      <a routerLink="/history ">Logout</a>
    </li>

  </ul>
</nav> -->
