<div class="vh-100">
  <app-navbar></app-navbar>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="col-lg-8">
            <div>
                <video [src]="videoUrl" controls></video>
                <a [href]="videoUrl" download="video.mp4">Download</a>

              </div>
              <!-- <div *ngIf="videoUrl">
                <video
                    muted=""
                    autoplay=""
                    loop=""
                    [src]="videoUrl"
                    type="video/mp4"
                    width="100%"
                    controls
                >

                </video>
            </div>
            <video controls>
                <source [src]="videoUrl" type="video/mp4">
            </video>
            <a [href]="videoUrl" [download]="videoUrl">
                {{ videoUrl }}
            </a> -->
        </div>
    </div>
</div>
