<app-navbar></app-navbar>

<div class="flex flex-flex-col-reverse md:flex-row justify-around ">


<form (ngSubmit)="onSubmit()">
  <h1 class="font-color fw-bolder color  text-xl	font-bold p-5 m-10">Search For Detection</h1>
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="large_size">Select File To process</label>
  <input (change)="onFileSelected($event)" class="block w-full text-lg text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="large_size" type="file" name="File" id="file" accept="video/*">
  <select (change)="updateModel($event)"  id="model" class="my-3 w-full mx-auto  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block   p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option *ngFor="let option of modelOptions" [value]="option.value">{{ option.label }}</option>
  </select>
  <button *ngIf="!uploading && !processing" type="submit"  class="w-full my-2 flex justify-center mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Upload
    <svg aria-hidden="true" class="rotate-[270deg] w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
</button>


<div *ngIf="uploadPresentage > 0" class="w-full text-center text-white">({{num}}/2)</div>
<div *ngIf="uploadPresentage > 0" class="my-2 w-full bg-gray-200 rounded-full dark:bg-gray-700">
  <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" [style.width.%]="uploadPresentage"> {{uploadPresentage}}% {{msg}}</div>
</div>

<button *ngIf="uploading || processing" disabled type="button" class="w-full my-2 flex justify-center mx-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
  <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/>
  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/>
  </svg>
  <span *ngIf="uploadPresentage==0">Pre-processing...</span>
  <span *ngIf="processing && uploadPresentage!=0">Processing...</span>
  <span *ngIf="uploading">Loading...</span>
</button>

</form>




<div class="right-0 m-5 max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="/assets/images/imgHome.gif" loading="lazy"/>
  </a>
  <div class="p-5">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Intelligent Video Surveillance System IVSS</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are we use IVSS to detect car craches and fighting.</p>
      <a href="http://127.0.0.1:8080/index.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
          <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
  </div>
</div>


</div>

<!-- <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <form (ngSubmit)="onSubmit()" class=" col-md-5">
            <div class="text-center">
                  <h1 class="font-color fw-bolder color">Search For Detection</h1>
            </div>

            <div class="Upload">
              <input (change)="onFileSelected($event)" class="color btn btn-dark rounded-5  " type="file" name="File" id="file" accept="video/*">
            </div>

            <div class="view">
              <button [disabled]="loading" class="btn btn-dark" type="submit">
                <span>{{ loading ? 'Loading...' : 'Upload' }}</span>
                <span *ngIf="loading" class="spinner"></span>
              </button>
              <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>

            </div>
      </form>
  </div>
</div> -->

<app-navbar-bottom></app-navbar-bottom>

