<app-navbar></app-navbar>



<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
      <form (ngSubmit)="onSubmit()" class=" col-md-5">
            <div class="text-center">
                  <h1 class="font-color fw-bolder color">Search For Detection</h1>
            </div>

            <div class="Upload">
              <input (change)="onFileSelected($event)" class="color btn btn-dark rounded-5  " type="file" name="File" id="file" accept="video/*">
            </div>

            <div class="view">
              <button [disabled]="loading" class="btn btn-dark" type="submit">
                <span>{{ loading ? 'Loading...' : 'Upload' }}</span>
                <span *ngIf="loading" class="spinner"></span>
              </button>
              <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>

            </div>
      </form>
  </div>
</div>




