<app-navbar></app-navbar>

<h1 class="text-center fw-bold text-white">History Page</h1>

<table
  class="text-center text-white mx-auto w-100 table table-dark"
>
  <thead class="py-4">
    <th>Detection type</th>
    <th>Status</th>
    <th>Date</th>
    <th colspan="2">Options</th>
  </thead>
  <tbody class="align-middle">
    <tr *ngFor="let data of videos" id="{{data.id}}">
      <td class="fw-bold">{{ data.detectionType }}</td>
      <div *ngIf="!data.watched; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><td class="fw-bold bg-warning hover-table-warning">New</td></ng-template>
        <ng-template #elseBlock><td class="fw-bold">Viewed</td></ng-template>
      <td>{{ data.uploadDate }}</td>
      <td class="fw-bold">
        <button class="btn btn-primary" (click)="onView($event)">Watch</button>
      </td>
      <td class="fw-bold">
        <button class="btn btn-danger" (click)="onDelete($event)">Delete</button>
      </td>
      <!-- <td class="fw-bold">
        <button class="btn btn-danger" (click)="onDownload($event)">Download</button>
      </td> -->

    </tr>
  </tbody>
</table>
