/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body
{
  background-color:  #203d68;
  color: #000;
  font-family: 'Montserrat Alternates' !important;
}

a,a:hover{

  color: #000;
  text-decoration: none;
}
