/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body
{
  background-color: #131750;
  color: #fff;
  font-family: 'Montserrat Alternates' !important;
}
