@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat+Alternates:wght@300&display=swap');

body
{
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif !important;
}

a,a:hover
{
  color: #fff !important;
  text-decoration: none;
}

