/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body
{
  background-image: url(../src/assets/images/mbr-1920x1281.jpg);
  background-size: cover;
  color: #000;
  font-family: 'Montserrat Alternates' !important;
}

/* a,a:hover{

  color: #000;
  text-decoration: none;
} */

@tailwind base;

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: gray;
}
::-webkit-scrollbar-thumb {
  background-color: blue;
}



@tailwind components;
@tailwind utilities;

