<div class="vh-100">
  <app-navbar></app-navbar>
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-content-center">
        <div class="col-lg-8">
                <video
                    muted=""
                    autoplay=""
                    loop=""
                    src="https://storage.googleapis.com/cms-storage-bucket/029113ae2cbbcf9493fe.mp4"
                    type="video/mp4"
                    width="100%"
                    controls
                >
                    <img
                    src="https://storage.googleapis.com/cms-storage-bucket/a667e994fc2f3e85de36.png"
                    alt="Fast"
                    />
                </video>
        </div>
    </div>
</div>
