<nav class="d-flex p-2 align-items-center " >
  <h3 class="mb-0"><a href = "#">IVSS</a></h3>

  <ul class="list-unstyled mb-0 bg-danger d-flex justify-content-around">

    <li>
      <a routerLink="/home">Home</a>
    </li>

    <li>
      <a routerLink="/history ">Home</a>
    </li>

    <li>
      <a routerLink="/view">Home</a>
    </li>

    <li>
      <a routerLink="/login">Home</a>
    </li>
  </ul>
<div class="social-media">
  <i class="fab fa-github mx-2"></i>


</div>
  <ul class="list-unstyled mb-0 bg-danger d-flex justify-content-around">

    <li>
      <a routerLink="/home">Login</a>
    </li>

    <li>
      <a routerLink="/history ">Signup</a>
    </li>

    <li>
      <a routerLink="/history ">Logout</a>
    </li>

  </ul>
</nav>
